<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 1.注解驱动 -->
    <mvc:annotation-driven/>
    <!-- 2.静态资源过滤 -->
    <mvc:default-servlet-handler/>
    <!-- 3.扫描包 -->
    <context:component-scan base-package="com.kuang.controller"/>
    <!-- 4.视图解析器 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    <!-- 5. JSON乱码问题 -->
    <mvc:annotation-driven>
        <mvc:message-converters register-defaults="true">
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <constructor-arg value="UTF-8"/>
            </bean>
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="objectMapper">
                    <bean class="org.springframework.http.converter.json.Jackson2ObjectMapperFactoryBean">
                        <property name="failOnEmptyBeans" value="false"/>
                    </bean>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>
    <!-- 6. 拦截器配置 -->
    <mvc:interceptors>
        <!-- 注册测试拦截器 -->
        <mvc:interceptor>
            <!-- "/**" 包裹这个请求下面的所有的请求 /admin/data etc.. （一个*当前文件夹目录下所有东西，两个*包含子目录）-->
            <mvc:mapping path="/**"/>   <!-- 指定对应controller路径path规则 -->
            <bean class="com.kuang.config.MyInterceptor"/>  <!-- 指定拦截器的实现类 -->
        </mvc:interceptor>

        <!-- 注册登陆拦截器 -->
        <mvc:interceptor>
            <!-- "/**" 包裹这个请求下面的所有的请求 /admin/data etc.. （一个*当前文件夹目录下所有东西，两个*包含子目录）-->
            <mvc:mapping path="/user/**"/>   <!-- 指定对应controller路径path规则 -->
            <bean class="com.kuang.config.LoginInterceptor"/>  <!-- 指定拦截器的实现类 -->
        </mvc:interceptor>
    </mvc:interceptors>
</beans>